/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
.background-image-globally {
  background-image: url("$assets/svelte.svg");
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pre {
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #e5efd1;
  height: 100vh;
  padding: 1rem;
}

.list {
  --background: #f9fcda;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

ion-fab {
  margin-bottom: 6.3rem;
}

.goal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #000;
  margin-bottom: 1rem;
}

.left-box {
  background-color: #4ec231;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.right-box {
  background-color: #4ec231;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
