/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
.background-image-globally {
  background-image: url("$assets/svelte.svg");
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pre {
  font-family: monospace
}

*{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  height: 100vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px -2px 32px 0px rgba(0, 0, 0, 0.205);
  padding: 1rem;
}
